# Define upstream servers
upstream dify_api {
    server localhost:4441;
}

upstream dify_web {
    server localhost:4440;
}

upstream dify_plugin {
    server localhost:4442;
}

# Configuration for dify.vsource.local (Single unified domain)
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    include snippets/ssl-cert.conf;
    include snippets/ssl-params.conf;
    include snippets/ssl-headers.conf;
    include /etc/nginx/default.d/*.conf;

    server_name dify.vsource.local;

    error_page 502 /404.html;

    location = /404.html {
        root /root/dify/web/public;
    }

    # API request settings
    location /console/api/ {
      proxy_pass http://dify_api;
      client_max_body_size 60M;
      include snippets/dify-proxy.conf;
    }

    location /api/ {
      proxy_pass http://dify_api;
      client_max_body_size 60M;
      include snippets/dify-proxy.conf;
    }

    location /v1/ {
      proxy_pass http://dify_api;
      client_max_body_size 60M;
      include snippets/dify-proxy.conf;

    }

    location /files/ {
      proxy_pass http://dify_api;
      client_max_body_size 60M;
      include snippets/dify-proxy.conf;
    }

    location /explore/ {
      proxy_pass http://dify_web;
      include snippets/dify-proxy.conf;
    }


    # For plugin endpoints
    location /e/ {
        proxy_pass http://dify_plugin;
        proxy_set_header Dify-Hook-Url $scheme://$host$request_uri;
        include snippets/dify-proxy.conf;
    }

    # For all other web UI requests
    location / {
        proxy_pass http://dify_web;
        include snippets/dify-proxy.conf;
    }

    location /mcp/ {
      proxy_pass http://dify_api;
      client_max_body_size 100M;
      include snippets/dify-proxy.conf;
    }

    location /triggers/ {
      proxy_pass http://dify_api;
      include snippets/dify-proxy.conf;
    }

}

# HTTP to HTTPS redirect
server {
    listen 80;
    listen [::]:80;
    server_name dify.vsource.local;
    return 301 https://$host$request_uri;
}
